In [35]:
import requests
import pandas as pd
import bs4
import csv

In [36]:
url = "https://ranking.ittf.com/public/s/ranking/csv?category=SEN&typeGender=W%3BSINGLES&year="

In [37]:
df = pd.DataFrame()

In [38]:
for i in range(2001, 2020):
  for j in range(1, 13):
    url2 = url + str(i) + "&month=" + str(j)
    df = df.append(pd.read_csv(url2))

In [39]:
df

    Rank Previous      ID Assoc  ... Previous Points WeekNum MonthNum YearNum
0      1        0  109976   CHN  ...               0       0        1    2001
1      2        0  105329   CHN  ...               0       0        1    2001
2      3        0  110579   CHN  ...               0       0        1    2001
3      4        0  109071   HKG  ...               0       0        1    2001
4      5        0  101660   TPE  ...               0       0        1    2001
..   ...      ...     ...   ...  ...             ...     ...      ...     ...
927  912      898  135317   CUB  ...               1       0       12    2018
928  912      898  134772   BIZ  ...               1       0       12    2018
929  912      898  118757   NCA  ...               1       0       12    2018
930  912      898  122129   NCA  ...               1       0       12    2018
931  912      898  134758   NCA  ...               1       0       12    2018

[185763 rows x 11 columns]

In [40]:
df2 = pd.DataFrame()

In [41]:
for i in range(2019, 2021):
  for j in range(1, 50):
    url2 = url + str(i) + "&week=" + str(j)
    df2 = df2.append(pd.read_csv(url2))

In [42]:
complete = df.append(df2)

In [43]:
complete

      Rank Previous      ID Assoc  ... Previous Points WeekNum MonthNum YearNum
0        1        0  109976   CHN  ...               0       0        1    2001
1        2        0  105329   CHN  ...               0       0        1    2001
2        3        0  110579   CHN  ...               0       0        1    2001
3        4        0  109071   HKG  ...               0       0        1    2001
4        5        0  101660   TPE  ...               0       0        1    2001
...    ...      ...     ...   ...  ...             ...     ...      ...     ...
1155  1140     1144  123769   ARG  ...               1      14        0    2020
1156  1140     1144  116764   HON  ...               1      14        0    2020
1157  1140     1144  145114   FRA  ...               1      14        0    2020
1158  1140     1144  115182   UGA  ...               1      14        0    2020
1159  1140     1144  132229   WAL  ...               1      14        0    2020

[202311 rows x 11 columns]

In [44]:
complete.to_csv('ittf_rankings_women.csv', index=False)

# Player information

In [ ]:
df = pd.DataFrame()

In [ ]:
for i in range(0, 37620, 10):
  url = r'https://results.ittf.link/index.php?option=com_fabrik&view=list&listid=35&Itemid=155&resetfilters=0&clearordering=0&clearfilters=0&limitstart35='
  url = url + str(i)
  tables = pd.read_html(url)
  table = tables[1]
  df = df.append(table.iloc[:10, :9])

In [ ]:
df

   Player ID                Name Assoc  ...  Playing hand Playing style       Grip
0     113207       A'ASA Junella   ASA  ...             -             -          -
1     113276  A. QADER Bakhtiyar   IRQ  ...           NaN           NaN        NaN
2     100002        AAA Shirchin   MGL  ...           NaN           NaN        NaN
3     114572   AACHARYA Yashwant   IND  ...           NaN           NaN        NaN
4     112267      AAL ALI Faisal   UAE  ...           NaN           NaN        NaN
..       ...                 ...   ...  ...           ...           ...        ...
5     122986         ZOVKO Lovro   CRO  ...  Right-handed      Attacker  Shakehand
6     114031     ZOVKO Vjekoslav   CRO  ...  Right-handed      Attacker  Shakehand
7     116814  ZRAZHAVETS Mikalai   BLR  ...           NaN           NaN        NaN
8     125506      ZRIMEC Tatjana   YUG  ...           NaN           NaN        NaN
9     121886      ZS.-SZABO Kira   HUN  ...  Right-handed      Attacker  Shakehand

[37620 rows x 9 columns]

In [ ]:
df.to_csv('ittf_info.csv', index = False)